Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Ans: A database functions, as a virtual storage unit like a filing cabinet,
    where one can effectively store and manage amounts of organized information. Think of it as an assortment
     of tables each dedicated to storing kinds of data such, as customer details, product information or financial records. 

        
         Differentiate between SQL and NoSQL databases.
        SQL
      .  SQL databases are primarily called Relational Databases (RDBMS)
    
      . SQL databases use a language called SQL to manage and manipulate data.
        SQL is a powerful tool for querying, inserting, updating, 
        and deleting data in a structured way.
        
      . In almost all situations SQL databases are vertically scalable. 
        This means that you can increase the load on a single server by
        increasing things like RAM, CPU, or SSD.
        
      .  SQL databases are usually relational, meaning they use tables to store data.
         Each table has rows (records) and columns (fields),
         and they are related to each other in a structured manner.
        
      . SQL databases are known for their strong consistency and reliability. 
        They follow the ACID (Atomicity, Consistency, Isolation, Durability)
        properties to ensure data integrity, even in high-stress situations.
        
        
        
        NOSQL (Not Only SQL)
        
      . NoSQL databases encompass various database technologies that don't
        strictly adhere to the traditional SQL approach. They provide
        more flexibility in data handling.
        
      . NoSQL databases can be document-based (e.g., MongoDB), key-value stores (e.g., Redis), 
        column-family stores (e.g., Cassandra), or graph databases (e.g., Neo4j). 
        This diversity allows them to handle different data types and structures.
        
      .  NoSQL databases are horizontally scalable. This means that you handle more
         traffic by sharding, or adding more servers in your NoSQL database. 

      . NoSQL databases are schema-less, meaning you can insert data without a predefined schema. 
         This flexibility is useful when dealing
        with rapidly changing or unstructured data. 
        
      . NoSQL databases are suitable for scenarios where data structures are dynamic,
        data volumes are high, and rapid scalability is needed, 
        such as social media platforms, real-time analytics, and IoT applications.

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Ans: DDL(Data Definition Language): commands in databases are like everyday actions
    in the real world, such as building something new, throwing something away, changing
     something you already have, or clearing a table, 
     but applied to managing your database.
    
    CREATE: It's like building something new. When you use CREATE in databases, you're
    essentially telling it, "I want to make a new thing."
    For example, if you want to create a new list to keep track of your favorite movies,
    you're using the CREATE command in your database.
    
    CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
        
);
    
    DROP: Now, let's say you decide that you don't need that new room you just built in your house.
    Using DROP in SQL is like demolishing that
    room. It completely removes something from your database. For example:
        
     DROP TABLE Customers;
    
    ALTER: Think of ALTER as making changes to your house. If you want to add a window or a door to an
    existing room, you're altering it.
    Similarly, in SQL, you use ALTER to modify the structure of an existing database object. For example:
        
        ALTER TABLE Customers
        ADD Phone VARCHAR(15);
        
    TRUNCATE: Picture your bookshelf full of books. If you want to remove all the books without getting rid 
    of the shelf itself, you would "truncate" the shelf. In SQL, TRUNCATE is used to remove all
     the rows from a table while keeping the table's structure intact. 
        
    For example:
        TRUNCATE TABLE Customers;

In [ ]:
Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML (Data Manipulation Language): DML stands for Data Manipulation Language, and it's a
     set of SQL commands used for interacting with and  changing data in a database.

    
    INSERT: Imagine you have a shopping list, and you want to add a new item to it. Using
    INSERT in SQL is like adding that new item to your list.
    It's a way to put new data into your database.
    
    Example: You use INSERT to add "Milk" to your shopping list:

    INSERT INTO ShoppingList (Item) VALUES ('Milk');
    
    UPDATE: Now, suppose you've already written "Milk" on your shopping list, but you want to 
    change it to "Almond Milk" because that's what you actually need. Using UPDATE
    in SQL is like editing an item on your list.

    Example: You use UPDATE to change "Milk" to "Almond Milk":
    
    UPDATE ShoppingList SET Item = 'Almond Milk' WHERE Item = 'Milk';
    
    
    DELETE: Finally, let's say you've bought everything on your shopping list,
    and you want to remove all the items that are no longer needed. 
    Using DELETE in SQL is like crossing out or removing items from your list.

    Example: You use DELETE to remove all items from your shopping list that you've already bought:
    
    DELETE FROM ShoppingList WHERE Bought = 'Yes';

In [ ]:
Q4.What is DQL? Explain SELECT with an example.

Ans: DQL (Data Query Language): DQL stands for Data Query Language, and it's
     a subset of SQL (Structured Query Language) used for retrieving  information from a database. 

SELECT: When you use SELECT in SQL, it's like going to a library and asking the librarian to find
a particular book for you. You specify what you're looking for, and the database returns the relevant information.

Example: Imagine you have a library database, and you want to find all the books written by your favorite
author, Jane Doe. You would use SELECT in SQL like this:

SELECT Title, Author, PublicationYear
FROM Library
WHERE Author = 'Jane Doe';

Q5. Explain Primary Key and Foreign Key.

Ans:Primary Key:

Imagine you have a collection of books in a library, and each book has a unique barcode.
In a database, a primary key is like that unique barcode for each row (or record) in a table. 
It's a special column that uniquely identifies each entry in the table.

Here are the key points about a primary key:

Uniqueness: Every value in the primary key column must be unique within the table. Just as no two books in the library
can have the same barcode, no two rows in the table can have the same primary key value.

Unchanging: The primary key value should typically never change, or if it does, it should be
a rare event. This is similar to how a book's barcode doesn't change over time.

Index: Databases often create an index on the primary key column to speed up searches, 
making it efficient to find specific rows.

Example: In a "Students" table, each student might be assigned a unique student ID as 
the primary key. This ensures that every student has a distinct identifier within the table.


Foreign Key:

Now, imagine you have two separate lists: one for books borrowed by library members and another
for the members themselves. In the borrowed books list, you can have a column that references
the member who borrowed each book. This reference is a foreign key.

Here are the key points about a foreign key:

Relationship: A foreign key establishes a connection between two tables in a database. 
It specifies that the values in one column (the foreign key) are related to the values
in another column (the primary key) in a different table.

Referential Integrity: Foreign keys help maintain referential integrity, ensuring that the
relationships between tables are valid. They prevent you from adding data that doesn't match
existing data in the related table.

Example: In the "BorrowedBooks" table, you might have a foreign key column that links to the "Members" table using their unique member IDs. This way, you can track which member borrowed each book.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password")

mycursor = mydb.cursor()
mycursor.execute("select * from test2.test_table")
for i in mycursor.fetchall() :
    print(i)
mycursor.close()
mydb.close()

the cursor() method creates a tool for interacting with the database, and the execute() 
method runs SQL queries through this tool. 
This allows you to retrieve and manipulate data from your MySQL database using Python.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans :  SELECT: The SELECT clause is executed first to specify which columns or expressions
       you want to retrieve from the database.

FROM: The FROM clause is executed next to specify the table or tables from which you want to fetch data. 
      This clause defines the data source for your query.

WHERE: If there is a WHERE clause, it is executed after the FROM clause. The WHERE clause filters the rows
      from the specified table(s) based on a specified condition. Rows that meet the condition are included 
       in the result set.

GROUP BY: If a GROUP BY clause is present, it is executed after the WHERE clause. The GROUP BY clause groups
          the rows in the result set into subsets based on the values in one or more columns.

HAVING: If a HAVING clause is used (which is often used in combination with GROUP BY), it is executed 
        after the GROUP BY clause. The HAVING clause filters the grouped rows based on a specified condition.

ORDER BY: The ORDER BY clause is executed after all the previous clauses. It is used to sort the result
         set based on one or more columns, either in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET (optional): If a LIMIT or OFFSET clause is included, it is executed last. The LIMIT clause 
                       restricts the number of rows returned in the result set, while the OFFSET clause specifies the
                       starting point from which to retrieve rows.